.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-color: transparent;
    border-color: #036;
    color: #333;
    text-shadow: 0 1px 0 #eee;
    font-weight: 700;
}