@font-face{ font-family: DistProTh; src: url('fonts/DistProTh.otf'); }
@font-face{ font-family: DKCarteBlanche; src: url('fonts/DKCarteBlanche.otf'); }

*{ font-family: DistProTh; }

html, body{
	width:100%;
	height:100%;
	background-color:white;
	padding:0;
	margin:0;
}

header{
	position:fixed;
	z-index:2;
	min-height:15%;
	
}
#tudo{
	width:100%;
	height:500%;
}
#buttons>*{
	display:inline-block;
}
#buttons{
	margin-top:1%;
	max-width:100%;
	min-width:100%;
	min-height:-2%;
	margin:1% 0px 2% 12%;
}
#main{
	width:100%;
	height:100%;
	overflow-x:hidden;
	overflow-y:hidden;
}
#center{
	margin:0 auto;
	width:100%;
	height:90%;
}

#principal{
	width:100%;
	height:20%;
}

#menu{
	width:100%;
	height:15%;
	margin-bottom:5px;
	background: rgba(24,3,34,0.9);
	
}
header>*{
	display:inline-block;
}
#logo{
	margin-left:2%;
	margin-top:-7px;
}
nav{
	position:absolute;
	color:white;
	font-size: 170%;
	width:100%;
}
.option{
	color:white;
	margin-left: 15%;
	border-bottom:2px rgba(24,3,34,0.9);

}
.option:hover{
	text-decoration: none;
	border-bottom:2px solid #1E90FF;
	color:white;
}
.option:focus{
	border-bottom:2px solid #1E90FF;
	outline: none;
	text-decoration: none;
	color:white;
}
#patrocinadoresicon{
	width:4rem;
	margin-left: 40%;
}
#contaicon{
	width:3rem;
	margin-left: 12%;
	margin-top: 1%;
}
#projetoicon{
	width:3.5rem;
	margin-left: 30%;
	margin-top: 0.5%;
}
#midiaicon{
	width:3.7rem;
	margin-left: 30%;
	margin-top: 0.4%;
}
#localizacaoicon{
	width:3rem;
	margin-left:40%;
	margin-top: 1%;
}
#homeicon{
	margin-top: 1%;
	width:3rem;
	margin-left:25%;
}
#imagesheader{
	width:100%;
}
#localizacao{
	width:100%;
	height:130%;
	position: absolute;
	margin-top:-0.5%;
}
#maps{
	width:30%;
	height: 300px;
	margin-left:60%;
	margin-top: 3%;
}
#conteudo{
	margin-top:5%;
}
#cadas{
	color:#ffffff;
	text-decoration:underline;
}
#cadas:hover{
	color:#6BBF46;
}
#titlelocalizacao{
	font-family: DKCarteBlanche, Helvetica, serif;
	color:white;
	margin-top:11%;
	margin-left:-50%;
	font-size:420%;
}
#p{
	margin-left: 12%;
	color:white;
	margin-top: -2%;
}
#dia{
		margin-left: 66.5%;
		margin-top:-12%;
		color:white;
		font-size: 400%;
	}
#de{
	margin-left: 76.5%;
	color:white;
	font-size: 200%;
	margin-top: -2%;
}
#local{
	margin-left: 60%;
	margin-top: 2%;
	color:white;
	font-size: 180%;
}

#imglocalizacao{
	width:35%;
	margin-left: 52%;
	margin-top: 4%;
}
#cadastrovisi{
	width:26.5%;
	height:45%;
	border-radius:2px;
}
#imput1{
	color:black;
}
#campus{
	margin-left:8%;
}
#projeto{
	width:100%;
	height:120%;
	position: absolute;
	margin-top:55%;
}
#carousel{
	margin-top: -2%;
	margin-left: 2%;
}
#myTabDrop1{
	color:black;
	background-color: white;
}
.dropdown-menu{
	margin-left:91.3%;
	border-radius:3px;
}
#myTabDrop1-contents{
	margin-top:-1.8%;
	z-index:1;
}
.carousel-control {
  padding-top:10%;
  width:5%;
}
.containerbar{
	position: absolute;
	margin-top: 12.2%;
	margin-left: 31%;
}
.search-box {
  display: inline-block;
  width:320%;
  height:40px;
  border-radius: 3px;
  padding: 4px 55px 4px 15px;
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.search-box.hovered, .search-box:hover, .search-box:active {
  border: 1px solid #aaa;
}
.search-box input[type=text] {
  border: none;
  box-shadow: none;
  display: inline-block;
  padding: 0;
  background: transparent;
}
.search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {
  box-shadow: none;
}
.search-box .search-btn {
  position: absolute;
  right: 2px;
  top: 1.5px;
  color: #aaa;
  border-radius: 3px;
  font-size: 21px;
  padding: 5px 10px 1px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#titleprojeto{
	color:white;
	margin-top:10%;
	margin-left: 11%;
	font-size:420%;
	font-family: DKCarteBlanche, Helvetica, serif;
}

#contenttop>*{
	display: inline-block;
}
#midia{
	width:100%;
	height:109%;
	margin-top:100%;
	margin-bottom:84%;
	position:absolute;
}
#titlemidia{
	color:white;
	margin-top:10%;
	margin-left: 11%;
	font-size:420%;
	font-family: DKCarteBlanche, Helvetica, serif;
	
}
#contenttopmidia>*{
	display:inline-block;
}
#p2{
	margin-left: 150px;
	color: #FFF;
	margin-top: -3%;
	font-size: 180%;
	text-align:justify;
	width:25%;
}
#carouselmidia{
	margin-left: 8.5%;
	margin-top: -2%;
}
#video{
	position:absolute;
	margin-top:10%;
	margin-left:26.5%;
	height:25%;
}
#vermais{
	color:white;
	margin-left:82%;
	position:absolute;
	text-decoration: none;
}
#vermais:hover{
	outline:none;
	text-decoration: underline;
}
#patrocinadores{
	width:100%;
	height:125.7%;
	position:absolute;
	margin-top:151%;
}
#myTabDrop1{
	border-radius:4px 4px 4px 4px;
	margin-left:91.3%;
	margin-top:-5%;
}
#myTabs{
	border-bottom:none;
}
#titlepatrocinadores{
	color:white;
	margin-top:10%;
	margin-left:-37%;
	font-size:420%;	
	font-family: DKCarteBlanche, Helvetica, serif;
}
#p3{
	color:white;
	margin-left:11%;
	margin-top:-2%;
	
}
#patrocinador{
	width:100%;
	height:350px;
	background-color:none;
	border-radius:5px;
	margin-left:-1%;
}

#foto-patrocinador{
	
	width:20rem; 
	height:20rem; 
	border:3px solid #A22424; 
	border-radius:5px;
	margin-top:15px;
	margin-bottom:10px;
	margin-right:0px;
	margin-left:14px;
	display:inline;
	background-color:white;

}
#foto-patrocinador:hover{
	opacity:0.9;
	border-radius:5px;
	


}
#patro{
	display:inline;
}
#privacity{
	margin-top:12%;
	color:white;
}
#iconrede:hover{
	opacity:0.8;
	outline:none;
}
