@font-face{ font-family: DistProTh; src: url('fonts/DistProTh.otf'); }

*{ font-family: DistProTh; }




html, body{
	width:100%;
	height:100%;
	background-color:white;
	padding:0;
	margin:0;
	/*font-family:;
	font-size:;*/
}
#menu{
	width:100%;
	height:100px;
	margin-top:0px;
	background: rgba(24,3,34,0.9);
	
}

header{
	position:fixed;
	z-index:2;
	
}
header>*{
	display:inline-block;
}
#logo{
	margin-left:2%;
	margin-top:-7px;
}
nav{
	position:absolute;
	font-family: "Arvo";
	color:white;
	font-size: 170%;
	width:100%;
}
.option{
	color:white;
	margin-left: 5%;
	border-bottom:2px rgba(24,3,34,0.9);

}
.option:hover{
	text-decoration: none;
	border-bottom:2px solid #1E90FF;
	color:white;
}
.option:focus{
	border-bottom:2px solid #1E90FF;
	outline: none;
	text-decoration: none;
	color:white;
}
#patrocinadoresicon{
	width:4rem;
	margin-left: 9%;
}
#contaicon{
	width:3rem;
	margin-left: 12%;
	margin-top: 1%;
}
#projetoicon{
	width:3.5rem;
	margin-left: 9.5%;
	margin-top: 0.5%;
}
#midiaicon{
	width:3.7rem;
	margin-left: 7.2%;
	margin-top: 0.4%;
}
#localizacaoicon{
	width:3rem;
	margin-left:9%;
	margin-top: 1%;
}
#homeicon{
	margin-top: 1%;
	width:3rem;
	margin-left:9%;
}
#imagesheader{
	width:100%;
}

#afastamento{
	margin-left:65px;
	margin-top:18px;
}
#buttonmidia{
	margin-left:50px;
	
}
#buttonpatrocinadores{
	margin-left:40px;
	
}
#principal{
	position:absolute;
	margin-top:150px;
	margin-left:20px;
}
#titulo{
	margin-top:10px;
	margin-bottom:10px;
}
#opcoes{
	margin:5px;
	font-size:15px;
}
#texto{
	margin:5px;
	font-size:15px;
}
#footer{
	position:absolute;
	margin-top:630px;
	margin-left:10px;
}
