body{
		font-family:'Segoe UI';
		font-size:20px;
		
	}
header{
	width:100%;
	height:133px;
	background-color:#036;
	margin-top:-23px;
}
#salvar{
				    cursor: pointer;
				    border-radius: 4px;
				    width: 200px;
				    height: 50px;
				    background-color:#036;
				    color: white;
				    margin-bottom: 0px;
				    font-size: 18px;
				    border: 2px solid #036;
				    margin-top: 50px;
				    margin-left: -30px;
			
			
}
#salvar:hover{
				color:white;	
				background-color:#134577; 
				border:2px solid #134577;
				transition:all 0.8s ease;
			
			}
#logo{
	margin-left:8px;
	position:absolute;
	width:150px;
	height:150px;
	margin-top:-116px;	
	
}
#logout{
	width:3.5rem;
	cursor: pointer;
}
#logout1{
	position:absolute;
	float:right;
	margin-top:35px;
	margin-left:1290px;
}
a{
	text-decoration:none;
	color:black;
}
#sair{
	margin-top:-1px;
	color:white;
	
	
}
#sair:hover{
	opacity:0.9;
}
footer{
	margin-top:100%;
	width:100%;
	height:30px;
	background-color:white;
	opacity:0.8
}
#desconect{
	margin-top:-100px;
	
}
#miolo{
	margin-top: 170px;
	background-color: white;
	margin-bottom:30px;
	width:580px;
	border-radius:5px;
	margin-left:460px;
	box-shadow: 0px 0px 0.7px grey;
	background-color:#DBDBEA;
	
}
#mioloo{
	margin-top: 180px;
	background-color: white;
	width:580px;
	height:180px;
	border-radius:5px;
	margin-left:460px;
	box-shadow: 0px 0px 0.7px grey;
	background-color:#DBDBEA;
	
}
#projeto{
	color:white;
	background-color:#036;
	padding-top:10px;
	padding-bottom:2px;
	font-size:22;
	
}
#dados{
	padding-bottom:20px;
	margin-left:20px;
}
#usuimg{
	margin-top:10px;
}
#projetoo{
	color:white;
	background-color:#036;
	padding-top:10px;
	padding-bottom:2px;
	font-size:22;
	
}
#Projeto>*{
	display:inline-block;
}
#addbottom:hover{
	opacity:0.8;
	transition:all 0.8s ease;
}
#addbottom:focus{
	outline:none;
}
#descricao>*{
	display:inline-block;
}
#adicionar{
	background-color:white;
	margin-top:100px;
	width:1000px;
	height:200px;
	margin-left:11%;
	border:2px solid grey;
	
}
#add{
	margin-left:40px;
}
#meuperfil{
	border-radius:5px;
	background-color:#036;
	position:absolute;
	width:240px;
	height:100px;
	margin-left:110px;
	margin-top:-3px;
}
#meuperfil2{
	border-radius:5px;
	background-color:#036;
	position:absolute;
	width:240px;
	height:100px;
	margin-left:110px;
	margin-top:2px;
}
#meuperfil3{
	border-radius:5px;
	background-color:#036;
	position:absolute;
	width:240px;
	height:100px;
	margin-left:110px;
	margin-top:110px;
}
#meuperfil4{
	border-radius:5px;
	background-color:#036;
	position:absolute;
	width:240px;
	height:100px;
	margin-left:110px;
	margin-top:226px;
}
#meuperfil5{
	border-radius:5px;
	background-color:#036;
	position:absolute;
	width:240px;
	height:100px;
	margin-left:110px;
	margin-top:342px;
}
#meuperfil6{
	border-radius:5px;
	background-color:#036;
	position:absolute;
	width:240px;
	height:100px;
	margin-left:110px;
	margin-top:457px;
}
#meuprojeto{
	
	border-radius:5px;
	margin-top:105px;
	background-color:#036;
	position:absolute;
	width:240px;
	height:100px;
	margin-left:110px;
}
#sugerirescola{
	border-radius:5px;
	margin-top:215px;
	background-color:#036;
	position:absolute;
	width:240px;
	height:100px;
	margin-left:110px;
}

#contato{
	
	border-radius:5px;
	margin-top:325px;
	background-color:#036;
	position:absolute;
	width:240px;
	height:100px;
	margin-left:110px;
}
#patrocinio{
	
	border-radius:5px;
	margin-top:444px;
	background-color:#036;
	position:absolute;
	width:240px;
	height:100px;
	margin-left:110px;
}
#use{
	position:absolute;
	font-size:30px;
	margin-top:68px;
	margin-left:160px;
	color:white;
	font-family:Square721 BT;

}
.menuopcao{
	color:white;
	margin-top:50px;
	position:absolute;
	margin-left:10px;
	font-size:20;
	font-weight:10em;
}
.menuopcao:hover{
	color:white;
}
#addprojeto{
	position:absolute;
	margin-left: 310px;
	width:150px;
	height:40px;
	margin-top:10px;
}
#butaoadd{
	margin-left:230px;
	padding-top:20px;
	
	padding-bottom:20px;
}
#remover{
	opacity:0.6;
	width:15px;
	border:none;
	margin-left:10px;
	height:15px;
}
#remove{
	opacity:0.6;
	width:15px;
	border:none;
	height:15px;
}
#log2{
			margin-left:1220px;
			width:3rem;
			position:absolute;
			margin-top:36px;
		}
#remove:hover{
	opacity:0.8;
}
#remover:hover{
	opacity:0.8;
}
#butsaltdel{
	margin-top:-30px;
	margin-left:470px;
}
li{
	list-style: none;
}
#divlist{
}

/*css cadastro do projeto*/
#cadastproj{
	margin-left:330px;
	font-size:28;
}
#savecancel{
	padding-top:30px;
	padding-bottom:20px;
}
#termosdepesquisa{
	margin-top:25px;
	background-color:#708090;
}
#termos{
	color:white;
	margin-left:1%;
	font-size:13;
	padding-bottom:2px;
	padding-top:2px;
}
#title{
	font-size:18;
}
#telf>*{
	display:inline-block;
}
select{
	width:300px;
	height:30px;
	border-radius:5px;
	border:1px solid grey;
}
input{
	width:300px;
	height:30px;
	border-radius:3px;

}
#idest{
	font-size:18;
}
#idcid{
	font-size:18;
}
#divest{
	margin-left:20px;
}
#divcid{
	margin-left:35px;
}
#categoria{
	font-size:18;
}
#divcat{
	margin-left:20px;
}
#objmilenio{
	font-size:18;
}
#divobj{
	margin-left:35px;
}
#catobj>*{
	display:inline-block;
}
#escolap{
	font-size:18;
}
#escolar{
	margin-left:20px;
}
#datas{
	margin-left:20px;
}
#datas>*{
	display:inline-block;
}
#savecancel{
	margin-left: 225px;
	padding-bottom: 20px;
}

/*css cadastro da escola*/
#cadastescola{
	margin-left:310px;
	font-size:28;
}

.sugerirescola{
	font-size: 18;
}

/*css contato*/
#mensagem{
	margin-top:20px;
}
#campuemail{
	width:190px;
}
#mensag{
	position:absolute;
	margin-top:-20px;
}
textarea{
	width:456px;
}
#contatsend{
	margin-top: 20px;
	margin-bottom: 20px;
}
#estcid>*{
	display:inline-block;
}

#atributos>*{
	display:inline-block;
}
#atributoss>*{
	display:inline-block;
	margin-left:40px;
}
#options>*{
	display:inline-block;
}
#escola-estado>*{
	display:inline-block;
}
#arrows>*{
	display:inline-block;
}

.buttonarrow{
	opacity:0.2;
	
}

.buttonarrow:hover{
	
	opacity:1;
}
.buttonarrow .selecionado{
	outline:none;
	opacity:1;
}
#textbutton>*{
	display:inline-block;
}
#buttonarrow1,#buttonarrow2, #buttonarrow3, #buttonarrow4:focus{
	outline:none;
}
.button{
	background-image: url ('assets/images/bluearrow.fw.png') no-repeat;
    cursor:pointer;
}









/*css meu perfil */