	#divTop{
	width:100%;
	height:30px;
	background-color:#5EBDB9;
	padding:0;
	position:absolute;
	
	position:absolute;
}
#user{
margin-top:2px;
margin-left:8px;
font-family:verdana;
font-size:14;
}
#use{
	margin-top:-130px;
	position:absolute;
	font-size:30px;

	margin-left:49px;
	color:white;
	font-family:Square721 BT;

}
#sup{
	margin-left:1230px;
	margin-top:-30px;
	position:absolute;
	font-family:verdana;
font-size:14;
}
#sair{
	margin-left:1310px;
	margin-top:-30px;
	position:absolute;
	font-family:verdana;
font-size:14;
	
}
#in{
	position:absolute;
	margin-top:30px;
	font-size:18px;
}
#cad{
	
	margin-top:80px;
	position:absolute;
	font-family:verdana;
font-size:14;
	
}
	#oi{
	margin-left:550px;
	text-decoration:none;
	position:absolute;
	
	
}

#oii{
	margin-left:480px;
	text-decoration:none;
	background-color:#DBDBEA;
	width:500px;
	height:auto;
	
	
	border:1px solid grey;
	margin-bottom:30px;
	margin-top:200px;
	position: absolute;
	
	
}
#oii>*{
	
	list-style:none;
}
#oi1{
	background-color:#DBDBEA;
	text-decoration:none;
}
#volt{


	
}
#h4{
margin-top:10px;
font-size:20px;
margin-left:60px;
color:black;
font-family: bitter;
position:absolute;
margin-top:20px;
}

#fot{
	position:absolute;
	height:20px;
	width:90px;
	margin-top:91px;
}
#miolo{
	height:80%;
	width:100%;
	
}
#bt{
margin-bottom:20px;
}
a{
text-decoration:none;
}
a:hover{
text-decoration:underline;
}


		#bty{
			width:90%;
			margin-left:60px;
		}
		#tudo{
			margin-top:118px;
			width:1300;
				
		}
header{
		width:100%;
		height:133px;
		background-color:#036;
	
	
		margin-top:-23px;
		}
		#log{
			margin-left:1254px;
			width:3.5rem;
			position:absolute;
			margin-top:24px;
			
		}
		#logo{
			margin-left:8px;
			position:absolute;
			width:150px;
			height:150px;
			margin-top:-21px;
		}
		#plus{
			margin-left:270px;
			width:1.9rem;
			position:absolute;
			margin-top:29px;
		}
		#list{
		margin-left:490px;
			width:1.9rem;
			position:absolute;
			margin-top:29px;
		}
		
		#p1{
			position:absolute;
			margin-left:200px;
			margin-top:60px;
			font-size:20;
			font-family:"Segoe UI";
		}
		#p2{
			position:absolute;
			margin-left:430px;
			margin-top:60px;
			font-size:20;
			font-family:"Segoe UI";
		}
		
		#p5{
			position:absolute;
			margin-left:1250px;
			margin-top:60px;
			font-size:20;
			font-family:"Segoe UI";
		}
		#Cadt{
			margin-left:320px;
		}
		#Listt{
			margin-left:300px;
		}
		#Sairt{
		margin-left:40px;
		}
		#ap{
			color:black;
		}
		#inputt{
			margin-top:40px;
			width:500px;
			margin-left:464px;
			background-color:white;
			border-radius:5px;
		}
		#ul-tudo>*{
			list-style:none;
			background-color:#DBDBEA;
		}
		#tudooo{
			margin-top:-213px;
			background-color:#DBDBEA;
		}
			
		#white{
			width:240px;
			height:100px;
			background-color:#036;
			position:absolute;
			border-radius:5px;
			margin-top:159px;
			margin-left:30px;
			border:1px solid grey;
		}
		#white1{
			width:240px;
			height:100px;
			background-color:#036;
			position:absolute;
			border-radius:5px;
			margin-top:269px;
			margin-left:30px;
			border:1px solid grey;
		}
		#white2{
		width:240px;
		height:100px;
			background-color:#036;
			position:absolute;
			border-radius:5px;
			margin-top:379px;
			margin-left:30px;
			border:1px solid grey;
		}
		#white3{
			width:240px;
			height:100px;
			background-color:#036;
			position:absolute;
			border-radius:5px;
			margin-top:489px;
			margin-left:30px;
			border:1px solid grey;
		}
		#mat{
			margin-left:110px;
			width:2.5rem;
			position:absolute;
			margin-top:25px;
		}
		#mat1{
			margin-left:105px;
			width:3rem;
			position:absolute;
			margin-top:25px;
		}
		#mat2{
			margin-left:105px;
			width:2.5rem;
			position:absolute;
			margin-top:25px;
		}
		#mat3{
		margin-left:105px;
			width:3.5rem;
			position:absolute;
			margin-top:25px;
		}
		#p6:hover{
			text-decoration:underline;
			color:white;
		}
		#p7:hover{
			text-decoration:underline;
			color:white;
		}
		#p8:hover{
			text-decoration:underline;
			color:white;
		}
		#p9{
			position:absolute;
			margin-left:78px;
			margin-top:54px;
			font-size:20;
			font-family:Segoe UI;
			color:white;
		}
		#p6{
			position:absolute;
			margin-left:78px;
			margin-top:53px;
			font-size:20;
			font-family:Segoe UI;
			color:white;
		}
		#p9:hover{
			text-decoration:underline;
		}
		#p7{
			position:absolute;
			margin-left:68px;
			margin-top:54px;
			font-size:20;
			color:white;
			font-family:Segoe UI;
		}
		#p8{
			position:absolute;
			margin-left:80px;
			margin-top:57px;
			font-size:20;
			color:white;
				font-family:Segoe UI;
			
		}
		#parte-esquerda{
			margin-top:15px;
			margin-left:80px;
		}
		
		#h4:hover{
			text-decoration:underline;
		}
		#log2{
			margin-left:1190px;
			width:3rem;
			position:absolute;
			margin-top:25px;
		}
		#pic{
			width: 20%;
			height: 15%;
			margin-left: 10px;
			margin-top: 10px;
			border-radius:200px;
		}
		#name1{
		margin-top:25px;
		position:absolute;
		color:#4365B9;
		}
		body{
		
		}
		#idd{
			position: absolute;
			margin-top: 160px;
			margin-left: 480px;
			width:500px;
			height: 40px;
			
		
		}
		#name2{
			color:#4365B9;
		}
		#vaiaia{
			margin-top: -110px;
			margin-left: 130px;
		}
		#white4{
			width:240px;
			height:100px;
			background-color:#036;
			position:absolute;
			border-radius:5px;
			margin-top:599px;
			margin-left:30px;
			border:1px solid grey;
		}
		#p10{
			position:absolute;
			margin-left:65px;
			margin-top:52px;
			font-size:20;
			font-family:Segoe UI;
		}
		#p10:hover{
			text-decoration:underline;
		}
		#privacity{
		margin-top:1000px
		}
		