<html ng-app="fentec">
<head>
	<title>Administração Fentec | Orientador</title>
	<meta charset="utf-8"/>
	<link rel="icon" type="image/png"  href="assets/images/logologin2.png" />
	<link rel="stylesheet" type="text/css" href="css/perfil.css"/>
	<script type="text/javascript" src="js/libs/jquery-1.12.3.js"></script>
	<script type="text/javascript" src="js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="js/libs/velocity.min.js"></script>
	<script type="text/javascript" src="js/libs/angular.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="js/cidadesestados.js"></script>
	<script type="text/javascript" src="js/fentec.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/projeto.js"></script>
	<script type="text/javascript" src="js/orientador.js"></script>
	<script type="text/javascript" src="js/mascaradata.js"></script>
	<script type="text/javascript" src="js/escola.js"></script>
	
	<link rel="stylesheet" href="js/libs/bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="js/libs/bootstrap/js/bootstrap.min.js"></script>
	
	
</head>
<body>
	<header>
	
	</header>
	<a href="index.html"><img id="logo" src="assets/images/logoo.fw.png"></a>
		<div id="desconect">
			<a id="logout1" href="conta.html">
			<img id="logout" src="assets/images/logout.png">
			</a>
			<a href=""><img id="log2" src="assets/images/engr.fw.png"/></a>
		</div>
	

	<div id="planodefundo">
	<div id="lado-esquerdo">
		<div id="meuperfil">
			<a><img src="assets/images/contaicon.fw.png" style="width:27px; height:27px; position:absolute; margin-left:105px; margin-top:25px;"/></a>
			<a href="dadosorient.html" class="menuopcao" style="margin-left:70px; font-size:20px; font-family:'Segoe UI'; margin-top:60px;">Meu perfil</a>
		</div>
		
		<div id="meuprojeto">
			<a><img src="assets/images/listaproj.fw.png" style="width:27px; height:27px; position:absolute; margin-left:105px; margin-top:25px;"/></a>
			<a href="perfilorient.html" class="menuopcao" style="margin-left:80px; font-size:20px; font-family:'Segoe UI';  margin-top:60px;">Projetos</a>
		</div>
		
		<div id="sugerirescola">
			<a><img src="assets/images/localizacaoicon.fw.png" style="width:27px; height:27px; position:absolute; margin-left:105px; margin-top:25px;"/></a>
			<a href="cadastroescola.html" class="menuopcao" style="margin-left:58px; font-size:20px; font-family:'Segoe UI';  margin-top:60px;">Sugerir escola</a>
		</div>
		
		<div id="contato">
			<a><img src="assets/images/suporteproj.fw.png" style="width:27px; height:27px; position:absolute; margin-left:105px; margin-top:25px;"/></a>
			<a href="contateorient.html" class="menuopcao" style="margin-left:80px; font-size:20px; font-family:'Segoe UI';  margin-top:60px;">Contato</a>
		</div>
	</div>
		<div  id="miolo" ng-controller="ProjetoController as projetoCtrl">
			<div id="Projeto"><p style="margin-left:200px; font-size:22px; font-family:'Segoe UI';" >Cadastrar projeto</p></div>
				</br>
				<div class="bs-example bs-example-tabs" data-example-id=togglable-tabs>
					<div class="nav" id="pagination">
					  <ul>
						<div id="arrows">
							<!-- <input type="button" style="background-image:url('assets/images/bluearrow.fw.png') ; width:200px; height:200px; background-size:70% 70%; background-repeat:no-repeat; "/> -->
							<a  id="buttonarrow1" ng-click="selecttab('buttonarrow1');" class="buttonarrow" style="margin-left:-1%;" href=#dropdown1 role=tab id=dropdown1-tab data-toggle=tab aria-controls=dropdown1><img style="width:15rem;" src="assets/images/bluearrow.fw.png"/></a>
							<a id="buttonarrow2"  ng-click="selecttab('buttonarrow2');" class="buttonarrow" style="margin-left:-7%;" href=#dropdown2 role=tab id=dropdown2-tab data-toggle=tab aria-controls=dropdown2><img  style="width:15rem;  " src="assets/images/bluearrow.fw.png"/></a>
							<a id="buttonarrow3"  ng-click="selecttab('buttonarrow3');" class="buttonarrow" style="margin-left:-7%;" href=#dropdown3 role=tab id=dropdown3-tab data-toggle=tab aria-controls=dropdown3><img  style="width:15rem;  " src="assets/images/bluearrow.fw.png"/></a>
							<a id="buttonarrow4"  ng-click="selecttab('buttonarrow4');" class="buttonarrow" style="margin-left:-7%;" href=#dropdown4 role=tab id=dropdown4-tab data-toggle=tab aria-controls=dropdown4><img  style="width:15rem;" src="assets/images/bluearrow.fw.png"/></a>
						</div>
					  </ul>
					</div>
					<div id=myTabContent class=tab-content> 
						<div role=tabpanel class="tab-pane fade in active" id=home aria-labelledby=home-tab> 
							<p>
								<div id="title">
									<center><h3>Dados gerais</h3></center>
									<h6 style="color:#003366; margin-top:-2%; margin-left:80%;">Etapa 1 de 4</h6>
								</div>
								<hr style="width:93%; border-top-color:#AFB9D0;margin-top:-1%;">
								<form>
									<div id="wrapper" style="width: 100%; margin-top: 5%; margin-left: 3%;">
										<input id="fileUpload" type="file"  style="width: 100%; outline:none;"/></br>
										<div id="image-holder"></div>
									</div>
									<div  id="campusprimarios">
										<p id="title" style=" font-family:'Segoe UI'; margin-left:20px;">Título</p>
										<input ng-model="model.nome" style="width:540px; margin-left:20px;"" name="nome" type="name" placeholder="Nome"></input>
									</div>
									</br>
									<div id="estcid">
										<div id="divest">
											<p id="idest" style=" font-family:'Segoe UI';"> Estado</p>
											<select id="estado1" ng-model="model.estado"  style="width:250px;">
												

											</select>
										</div>
										<div id="divcid">
											<p id="idcid" style=" font-family:'Segoe UI';">Cidade</p>
											<select id="cidade1" style="width:250px;" 
												">
												

											</select>
										</div>
									</div>
									</br>
									<div id="catobj">
										<div id="divcat">
										<p id="categoria" style=" font-family:'Segoe UI';">Categoria</p>
										<select ng-model="model.categoria" style="width:250px;">
											<option>Exatas</option>
											<option>Humanas</option>
											<option>Biológica</option>
										</select>
										</div>
										<div id="divobj">
										<p id="objmilenio" style=" font-family:'Segoe UI';">Objetivo do milênio</p>
										<select ng-model="model.metaobj" style="width:250px;">
											<option>1- Acabar com a fome e a miséria</option>
											<option>2- Antingir o ensino básico universal</option>
											<option>3- Igualdade entre sexos e valorização da mulher</option>
											<option>4- Reduzir a mortalidade infantil</option>
											<option>5- Melhorar a saúde materna</option>
											<option>6- Combater a AIDS, malárias e outras doenças</option>
											<option>7- Qualidade de vida e respeito ao meio ambiente</option>
											<option>8- Todo mundo trabalhando pelo desenvolvimento</option>
										</select>
										</div>
									</div>
									</br>
								<div id="escolar" >
								<p id="escolap" style=" font-family:'Segoe UI';">Escola</p>
								<select ng-controller="escolaController as escolaCtrl" ng-model="model.idescola" style="width:540px;">
									<option selected disabled hidden>{{model.escola}}</option>
									<option ng-value="{{escola.id}}" ng-repeat="escola in arrEscolas">{{escola.nome}}</option>
								</select>
								</div>
								<div id="termosdepesquisa">
									<p id="termos"> ATENÇÃO: Deve ter no máximo 12 meses de pesquisa até a véspera da mostra de projeto:</p>
								</div>
								</br>
								<div id="datas">
									<div id="datainicio">
										<p style=" font-family:'Segoe UI'; font-size:18;">Data de início</p>
											<input placeholder="DD/MM/AA" type="text" name="datainicio" style="width:250px;" id="outra_data" maxlength="10" onkeypress="mascaraData( this, event )" ng-model="model.datainicio"></input>
									</div>
									<div id="datafinal" style="margin-left:35px;">
										<p style=" font-family:'Segoe UI'; font-size:18;">Data de conclusão</p>
											<input placeholder="DD/MM/AA" type="text" name="datafinal" style="width:250px;" id="outra_data" maxlength="10" onkeypress="mascaraData( this, event )" ng-model="model.datafinal"></input>
									</div>
								</div>
								</br>
								<div id="catobj">
										<div id="divcat">
										<p id="categoria" style=" font-family:'Segoe UI';">Turma</p>
										<select ng-model="model.turma" style="width:250px;">
											<option>1- Mecatrônica</option>
											<option>2- Informática</option>
											<option>3- Telecomunicações</option>
											<option>4- Eletrônica</option>
										</select>
										</div>
										<div id="divobj">
										<p id="objmilenio" style=" font-family:'Segoe UI';">Meta Global</p>
										<select ng-model="model.meta" style="width:250px;">
											<option>1- Erradicação da pobreza</option>
											<option>2- Erradicação da fome</option>
											<option>3- Saúde de qualidade</option>
											<option>4- Educação de qualidade</option>
											<option>5- Igualdade de gênero</option>
											<option>6- Água limpa e saneamento</option>
											<option>7- Energias renováveis</option>
											<option>8- Empregos dignos e crescimento econômico</option>
											<option>9- Inovação e infraestrutura</option>
											<option>10- Redução das desigualdades</option>
											<option>11- Cidades e comunidades sustentáveis</option>
											<option>12- Consumo responsável</option>
											<option>13- Combate às mudanças climáticas</option>
											<option>14- Vida debaixo da água</option>
											<option>15- Vida sobre a terra</option>
											<option>16- Paz e justiça</option>
										</select>
										</div>
								</div>
									</br>
									<div  id="campusprimarios">
										<p id="title" style=" font-family:'Segoe UI'; margin-left:20px;">Orientadores</p>
										<input ng-model="model.orientador" style="width:540px; margin-left:20px;"" name="orientador" type="name"  ></input>
									</div>
									</br>
									<div  id="campusprimarios">
										<p id="title" style=" font-family:'Segoe UI'; margin-left:20px;">Integrantes</p>
										<input ng-model="model.integrantes" style="width:540px; margin-left:20px;"" name="integrantes" type="name"  ></input>
									</div>
							</form>
							</p> 
						</div> 
						<div role=tabpanel class="tab-pane fade" id=dropdown1 aria-labelledby=dropdown1-tab> 
							<p>
								<div id="title">
									<center><h3>Dados gerais</h3></center>
									<h6 style="color:#003366; margin-top:-2%; margin-left:80%;">Etapa 1 de 4</h6>
								</div>
								<hr style="width:93%; border-top-color:#AFB9D0;margin-top:-1%;">
								<form>
									<div id="wrapper" style="width: 100%; margin-top: 5%; margin-left: 3%;">
										<input id="fileUpload" type="file"  style="width: 100%; outline:none;"/></br>
										<div id="image-holder"></div>
									</div>
									<div  id="campusprimarios">
										<p id="title" style=" font-family:'Segoe UI'; margin-left:20px;">Título</p>
										<input ng-model="model.nome" style="width:540px; margin-left:20px;"" name="nome" type="name" placeholder="Nome" ></input>
									</div>
									</br>
									<div id="estcid">
										<div id="divest">
											<p id="idest" style=" font-family:'Segoe UI';"> Estado</p>
											<select id="estado1" ng-value="{{projeto.estado}}" ng-model="model.estado"  style="width:250px;">
												
											</select>
										</div>
										<div id="divcid">
											<p id="idcid" style=" font-family:'Segoe UI';">Cidade</p>
											<select id="cidade1" ng-value="{{projeto.cidade}}" ng-model="model.cidade" style="width:250px;">

											</select>
										</div>
									</div>
									</br>
									<div id="catobj">
										<div id="divcat">
										<p id="categoria" style=" font-family:'Segoe UI';">Categoria</p>
										<select ng-model="model.categoria" style="width:250px;">
											<option>Exatas</option>
											<option>Humanas</option>
											<option>Biológica</option>
										</select>
										</div>
										<div id="divobj">
										<p id="objmilenio" style=" font-family:'Segoe UI';">Objetivo do milênio</p>
										<select ng-model="model.metaobj" style="width:250px;">
											<option>1- Acabar com a fome e a miséria</option>
											<option>2- Antingir o ensino básico universal</option>
											<option>3- Igualdade entre sexos e valorização da mulher</option>
											<option>4- Reduzir a mortalidade infantil</option>
											<option>5- Melhorar a saúde materna</option>
											<option>6- Combater a AIDS, malárias e outras doenças</option>
											<option>7- Qualidade de vida e respeito ao meio ambiente</option>
											<option>8- Todo mundo trabalhando pelo desenvolvimento</option>
										</select>
										</div>
									</div>
									</br>
								<div id="escolar" >
								<p id="escolap" style=" font-family:'Segoe UI';">Escola</p>
								<select ng-controller="escolaController as escolaCtrl" ng-model="model.idescola" style="width:540px;">
									<option ng-value="{{escola.id}}" ng-repeat="escola in arrEscolas">{{escola.nome}}</option>
								</select>
								</div>
								<div id="termosdepesquisa">
									<p id="termos"> ATENÇÃO: Deve ter no máximo 12 meses de pesquisa até a véspera da mostra de projeto:</p>
								</div>
								</br>
								<div id="datas">
									<div id="datainicio">
										<p style=" font-family:'Segoe UI'; font-size:18;">Data de início</p>
											<input placeholder="DD/MM/AA" type="text" name="datainicio" style="width:250px;" id="outra_data" maxlength="10" onkeypress="mascaraData( this, event )" ng-model="model.datainicio"></input>
									</div>
									<div id="datafinal" style="margin-left:35px;">
										<p style=" font-family:'Segoe UI'; font-size:18;">Data de conclusão</p>
											<input placeholder="DD/MM/AA" type="text" name="datafinal" style="width:250px;" id="outra_data" maxlength="10" onkeypress="mascaraData( this, event )" ng-model="model.datafinal"></input>
									</div>
								</div>
								</br>
								<div id="catobj">
										<div id="divcat">
										<p id="categoria" style=" font-family:'Segoe UI';">Turma</p>
										<select ng-model="model.turma" style="width:250px;">
											<option>3° ano de Eletrônica</option>
											<option>3° ano de Informática</option>
											<option>3° ano de Mecatrônica</option>
											<option>3° ano de Telecomunicações</option>
										</select>
										</div>
										<div id="divobj">
										<p id="objmilenio" style=" font-family:'Segoe UI';">Meta Global</p>
										<select ng-model="model.meta" style="width:250px;">
											<option>1- Erradicação da pobreza</option>
											<option>2- Erradicação da fome</option>
											<option>3- Saúde de qualidade</option>
											<option>4- Educação de qualidade</option>
											<option>5- Igualdade de gênero</option>
											<option>6- Água limpa e saneamento</option>
											<option>7- Energias renováveis</option>
											<option>8- Empregos dignos e crescimento econômico</option>
											<option>9- Inovação e infraestrutura</option>
											<option>10- Redução das desigualdades</option>
											<option>11- Cidades e comunidades sustentáveis</option>
											<option>12- Consumo responsável</option>
											<option>13- Combate às mudanças climáticas</option>
											<option>14- Vida debaixo da água</option>
											<option>15- Vida sobre a terra</option>
											<option>16- Paz e justiça</option>
										</select>
										</div>
								</div>
									</br>
									<div  id="campusprimarios">
										<p id="title" style=" font-family:'Segoe UI'; margin-left:20px;">Orientadores</p>
										<input ng-model="model.orientador" style="width:540px; margin-left:20px;"" name="orientador" type="name"  ></input>
									</div>
									</br>
									<div  id="campusprimarios">
										<p id="title" style=" font-family:'Segoe UI'; margin-left:20px;">Integrantes</p>
										<input ng-model="model.integrantes" style="width:540px; margin-left:20px;"" name="integrantes" type="name"  ></input>
									</div>
								
							</form>
							
							</p>
						</div> 
						<div role=tabpanel class="tab-pane fade" id=dropdown2 aria-labelledby=dropdown2-tab> 
							<p>
								<div id="title">
									<center><h3>Plano de Pesquisa</h3></center>
									<h6 style="color:#003366; margin-top:-2%; margin-left:80%;">Etapa 2 de 4</h6>
								</div>
								<hr style="width:93%; border-top-color:#AFB9D0;margin-top:-1%;">
								<form>
									<div  id="campusprimarios">
										<div id="descricao"><p id="title" style=" font-family:'Segoe UI'; margin-left:20px;">Questão ou Problema identificado</p><h6 style="margin-left:23%; color:green;">máximo 300 caracteres*</h6></div>
										<textarea ng-model="model.problema" style="width:540px; margin-left:20px; resize:none; height:100px;" name="problema"  placeholder="Problema"></textarea>
									</div>
									</br>
									
										<div id="campusprimarios">
											<div id="descricao"><p id="idest" style=" font-family:'Segoe UI'; margin-left:20px;">Hipótese</p><h6 style="margin-left:58%; color:green;">máximo 300 caracteres*</h6></div>
											<textarea ng-model="model.hipotese" style="width:540px; margin-left:20px; resize:none; height:100px;" name="hipotese"  placeholder="Hipótese"></textarea>
										</div>
									</br>
									<div id="campusprimarios">
										<div id="divcat">
										<div id="descricao"><p id="categoria" style=" font-family:'Segoe UI';">Descrição</p><h6 style="margin-left:58%; color:green;">máximo 300 caracteres*</h6></div>
										<textarea ng-model="model.descricao" style="width:540px;resize:none; height:100px;" name="descricao"  placeholder="Descrição"></textarea>
										</div>
						
									</div>
									</br>
								<div id="campusprimarios">
								<div id="descricao"><p id="escolap" style=" font-family:'Segoe UI'; margin-left:20px;">Bibliografia</p><h6 style="margin-left:54%; color:green;">máximo 300 caracteres*</h6></div>
									<textarea ng-model="model.bibliografia" style="width:540px; margin-left:20px; resize:none; height:100px;" name="bibliografia"  placeholder="Bibliografia"></textarea>
								</div>
								
							</form>
							</p>
						</div> 
						<div role=tabpanel class="tab-pane fade" id=dropdown3 aria-labelledby=dropdown3-tab> 
							<p>
								<div id="title">
									<center><h3>Resumo</h3></center>
									<h6 style="color:#003366; margin-top:-2%; margin-left:80%;">Etapa 3 de 4</h6>
								</div>
								<hr style="width:93%; border-top-color:#AFB9D0;margin-top:-1%;">
								<form>
									<div  id="campusprimarios">
										<div id="descricao"><p id="title" style=" font-family:'Segoe UI'; margin-left:20px;">Resumo</p><h6 style="margin-left:58%; color:green;">Máximo 2000 caracteres*</h6></div>
										<textarea ng-model="model.resumo" style="width:540px; margin-left:20px; resize:none; height:100px;" name="resumo"  placeholder="Resumo"></textarea>
									</div>
									</br>
									
										<div id="campusprimarios"  style=">*display:inline-block;">
											<p id="idest" style=" font-family:'Segoe UI'; margin-left:20px;">Palavra chave referente ao projeto</p>
											<input ng-model="model.primeirapalavra" style="width:540px; margin-left:20px;"" name="primeirapalavra" type="name" placeholder="Palavra1" ></input>
										</div>
									</br>
									<div id="campusprimarios">
										<div id="divcat">
										<p id="categoria" style=" font-family:'Segoe UI';">Palavra chave referente ao projeto</p>
										<input ng-model="model.terceirapalavra" style="width:540px;"" name="terceirapalavra" type="name" placeholder="Palavra2" ></input>
										</div>
						
									</div>
									</br>
								<div id="campusprimarios">
								<p id="escolap" style=" font-family:'Segoe UI'; margin-left:20px;">Palavra chave referente ao projeto</p>
									<input ng-model="model.segundapalavra" style="width:540px; margin-left:20px;"" name="segundapalavra" type="name" placeholder="Palavra2" ></input>
								</div>
								
								</form>
							</p>
						</div> 
						<div role=tabpanel class="tab-pane fade" id=dropdown4 aria-labelledby=dropdown4-tab> 
							<p>
								<div id="title">
									<center><h3>Relatório</h3></center>
									<h6 style="color:#003366; margin-top:-2%; margin-left:80%;">Etapa 4 de 4</h6>
								</div>
								<hr style="width:93%; border-top-color:#AFB9D0;margin-top:-1%;">
								</br>
								<div style="background-color:#F0FFFF; color:#666; padding-bottom:2.5%; padding-top:2.5%; width:85%; margin-left:6%; border:1px solid red;"><h5 style="margin-left:2.5%;">O Relatório é um documento OBRIGATÓRIO para a participação do projeto. Você pode fazer o envio digital do seu relatório.</br></br><div><p style="font-weight:bold;">ATENÇÃO: Os arquivos enviados deverão ser em formato PDF.</p></h5></div>
								<hr style="margin-left:6%; border-top-color:#AFB9D0; width:85%;">
								<form>
									<div id="wrapper" style="width: 100%; margin-top: 5%; margin-left: 6%;">
										<input id="fileUpload" type="file"  style="width: 100%; outline:none;"/></br>
										<div id="image-holder"></div>
									</div>
								</form>
									
							</p>
						</div> 
					</div>	
				</div>
			<div id="savecancel">
				<button id="salvar" ng-click="save()">{{updateMode?'Salvar': 'Salvar'}}</button>
			</div>	
		</div>
		
</div>		


 <script language="JavaScript" type="text/javascript" charset="utf-8">
        new dgCidadesEstados({
			  cidade: document.getElementById('cidade1'),
			  estado: document.getElementById('estado1')
			});
     </script>

</body>
</html>
