<html ng-app="fentec">
<head>
	<title>Administração Fentec | Orientador</title>
	<meta charset="utf-8"/>
	<link rel="icon" type="image/png"  href="assets/images/logologin2.png" />
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="css/perfil.css"/>
	<script type="text/javascript" src="js/libs/jquery-1.12.3.js"></script>
	<script type="text/javascript" src="js/libs/angular.min.js"></script>
	<script type="text/javascript" src="js/fentec.js"></script>
	<script type="text/javascript" src="js/projeto.js"></script>
	<script type="text/javascript" src="js/orientador.js"></script>
	<script type="text/javascript" src="js/mascaradata.js"></script>
	<script type="text/javascript" src="js/masktelefone.js"></script>
	<script type="text/javascript" src="js/escola.js"></script>
	<link rel="stylesheet" href="js/libs/bootstrap/css/bootstrap.min.css"/>
	
	
</head>
<body>
	<header>
	
	</header>
	<a href="index.html"><img id="logo" src="assets/images/logoo.fw.png"></a>
		<div id="desconect">
			<a id="logout1" href="conta.html">
			<img id="logout" src="assets/images/logout.png">
			
			</a>
			<a href=""><img id="log2" src="assets/images/engr.fw.png"/></a>
		</div>
	

	<div id="planodefundo">
	<div id="lado-esquerdo">
		<div id="meuperfil">
			<a><img src="assets/images/contaicon.fw.png" style="width:27px; height:27px; position:absolute; margin-left:105px; margin-top:25px;"/></a>
			<a href="dadosorient.html" class="menuopcao" style="margin-left:70px; font-size:20px; font-family:'Segoe UI'; margin-top:60px;">Meu perfil</a>
		</div>
		
		<div id="meuprojeto">
			<a><img src="assets/images/listaproj.fw.png" style="width:27px; height:27px; position:absolute; margin-left:105px; margin-top:25px;"/></a>
			<a href="perfilorient.html" class="menuopcao" style="margin-left:80px; font-size:20px; font-family:'Segoe UI';  margin-top:60px;">Projetos</a>
		</div>
		
		<div id="sugerirescola">
			<a><img src="assets/images/localizacaoicon.fw.png" style="width:27px; height:27px; position:absolute; margin-left:105px; margin-top:25px;"/></a>
			<a href="cadastroescola.html" class="menuopcao" style="margin-left:58px; font-size:20px; font-family:'Segoe UI';  margin-top:60px;">Sugerir escola</a>
		</div>
		
		<div id="contato">
			<a><img src="assets/images/suporteproj.fw.png" style="width:27px; height:27px; position:absolute; margin-left:105px; margin-top:25px;"/></a>
			<a href="contateorient.html" class="menuopcao" style="margin-left:80px; font-size:20px; font-family:'Segoe UI';  margin-top:60px;">Contato</a>
		</div>
	</div>
		<div  ng-controller="escolaController" id="miolo">
			<div id="Projeto"><p style="margin-left:220px; font-size:22px; font-family:'Segoe UI';" >Sugerir escola</p></div>
			<form>
			</br>
			<div id="campusprimarios">
				<p class="sugerirescola" style=" font-family:'Segoe UI'; margin-left:20px;">Instituição</p>
				<input name="nome" type="name"  ng-model="model.nome" style="width:540px; margin-left:20px;"></input>
				<div id="email">
					</br>
					<p class="sugerirescola" style=" font-family:'Segoe UI'; margin-left:20px;">Email</p>
					<input name="" type="email"  ng-model="model.email" style="width:540px; margin-left:20px;"></input>
				</div>
				</br>
				<div id="estcid">
					<div id="divest">
						<p id="idest" style=" font-family:'Segoe UI';"> Estado</p>
						<select ng-model="model.estado" ng-change="setcidades(model.estado)" style="width:250px;">
							<option ng-repeat="estado in arrestados" value="{{estado.nome}}">{{estado.nome}}</option>

						</select>
					</div>
					<div id="divcid">
						<p id="idcid" style=" font-family:'Segoe UI';">Cidade</p>
						<select ng-model="model.cidade" style="width:250px;">
							<option ng-repeat="cidade in arrcidades" value="{{cidade.nome}}">{{cidade}}</option>

						</select>
					</div>
				</div>
				</br>
				<p class="sugerirescola" style=" font-family:'Segoe UI';  margin-left:20px;">Endereço</p>
				<input class="telefone"   ng-model="model.endereco" style="width:540px; margin-left:20px;"></input>
				
				<div id="telf">
					</br>
					<div id="tel1">
						<p class="sugerirescola" style=" font-family:'Segoe UI';  margin-left:20px;">Telefone</p>
							<input class="telefone"  size="20" maxlength="15" style="margin-left:20px; width:250px;" onkeypress="mascara(this); return SomenteNumero(event)"  type="text" placeholder="Tel" ng-model="model.telefone"></input>
					</div>
					<div id="tel2">
						<p class="sugerirescola" style=" font-family:'Segoe UI'; margin-left:35px; ">Telefone 2</p>
						<input name="telefone"  size="20" maxlength="15" style="width:250px;  margin-left:35px;" onkeypress="mascara(this); return SomenteNumero(event)"  type="text" placeholder="Tel" ng-model="model.telefone2"></input>
						<p id="">
					</div>
				</div>
			</div>

			<div id="savecancel" style="margin-top:-5%;">
				<button id="salvar" ng-click="save()">{{updateMode?'Salvar as alteracoes': 'Salvar'}}</button>
			</div>
		</form>
		</div>
		
	</div>

</body>
</html>