<html ng-app="fentec">
<head>
	<title>Fentec | Cadastro de Materiais</title>
	<meta charset="utf-8"/>
		<link rel="icon" type="image/png"  href="assets/images/logologin2.png" />
	<link rel="stylesheet" type="text/css" href="js/libs/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/material.css"/>
	<script type="text/javascript" src="js/libs/jquery-1.12.3.js"></script>
	<script type="text/javascript" src="js/libs/angular.min.js"></script>
	<script src="js/inputnumero.js"></script>
	<script src="js/jquery.maskMoney.js"></script>
	<script type="text/javascript" src="js/fentec.js"></script>
	<script type="text/javascript" src="js/material.js"></script>
	<script type="text/javascript" src="js/projeto.js"></script>
	<script type="text/javascript" src="js/logorient.js"></script>
	<script type="text/javascript" src="js/escola.js"></script>
	
	
	
	<style>
		
	</style>
</head> 
<body>
	<div id="planodefundo" ng-controller="MatController">
	<header></header>
	<a href="index.html"><img id="logo" src="assets/images/logoo.fw.png"/></a>
	<h2 id="user" >Monitoria</h2>
	<a href=""><img id="log2" src="assets/images/engr.fw.png"/></a>
	<div id="allwhite">
		<div id="Sairt" ng-controller="LogarController" >
			
			<a ng-click="sair()" ><img id="log" src="assets/images/logout.png"/></a>
		</div>
		
		<div id="white">
				<a href="listamaterial.html"><img id="mat1" src="assets/images/tools2.png"/></a>
				<a id="ap" href="listamaterial.html" style="color:black;"><p style="color:white" id="p6">Materiais</p></a>
		</div>
		
		<!--<div id="white1">
				<a href="listaavaliadores.html"><img id="mat1" src="assets/images/grades2.png"/></a>
				<a id="ap" href="listaavaliadores.html" style="color:black;"><p style="color:white" id="p7">Avaliadores</p></a>
		</div>
		
		<div id="white2">
			<a href="perfilorient.html">	<img id="mat2" src="assets/images/teacher2.png"/></a>
				<a id="ap" href="perfilorient.html" style="color:black;"><p style="color:white" id="p8">Orientadores</p></a>
		</div>
		
		<div id="white3">
			<a href="listavisitantes.html">	<img id="mat3" src="assets/images/person2.png" /></a>
				<a id="ap" href="listavisitantes.html" style="color:black;"><p style="color:white" id="p9">Visitantes</p></a>
		</div>-->
	</div>	
	<div id="miolo">
		<div id="titudiv">
		<p id="titulo" style="color:white">Cadastro de Materiais</p>
		</div>
		<form>
			<div id="quasetudo">
			
				<div id="wrapper">
					<input type="file" id="fileUpload" accept="image/png, image/jpeg" multiple/>
					<!--<div id="image-holder"></div>-->
				</div>
				<div id="campusprimarios">
				
					<div id="dv1">
						<p id="nomep" >Nome*</p>
						<input name="nome" onkeypress="return SomenteLetra(event)" required class="form-control"  id="ipt1" ng-model="model.nome"/>
					</div>
					<div id="dv2">
						<p id="marcap">Marca*</p>
						<input id="ipt2" required class="form-control" ng-model="model.marca"/>
					</div>
					
					<div id="dv4">
						<p id="descrp">Descrição*</p>
						<textarea id="ipt4" required class="form-control" ng-model="model.descricao"></textarea>
					</div>
					<div id="dv5">
						<p id="precop">Preço</p>
						<input class="form-control" type="text" id="ipt5" data-thousands="."  data-decimal="," data-prefix="R$ " onkeypress="return SomenteNumero(event)" maxlength="20" ng-model="model.preco"/>
						
					</div>
					<div id="dv6" >
						<p id="nump">Número do ativo*</p>
						<input onkeypress="return SomenteNumero(event)" required class="form-control" id="ipt6" ng-model="model.numerodoativo"/>
					</div>
					<div id="dv7" class="checkbox">
					<label>
						<input id="ipt7" type="checkbox" class="form-control" ng-change="model.ida = '';   model.retorno = ''; model.projeto = '' " ng-model="model.posse">
						<p id="posp">Ele está em posse de alguém?</p>
						</label>
					</div>
					<div id="dv8">
					
							<p id="ida">Pesquisar projeto</p>
							<input class="form-control"   id="ipt8"  ng-model="searchinput" />
								
							
							
							<p id="volta">Enviar projeto</p>
							<select ng-controller="ProjetoController as projetoCtrl" class="form-control" type="select"  id="ipt9" ng-model="model.projeto"  >
								<option ng-value="{{projeto.nome}}" ng-repeat="projeto in arrProjeto | filter:{nome:searchinput}" >{{projeto.nome}}</option>
							</select>
							

							
						<div id="dv9">
							<p id="ida">Dia da ida</p>
							
							<form>
								<input class="form-control" type="text" minlength="10" id="ipt8" onkeypress="mascaraData( this, event ); return SomenteNumero(event)" maxlength="10"  placeholder="dd/mm/AAAA"  ng-model="model.ida" name="data" />
							</form>
							
							
							<p id="volta">Dia da volta</p>
							<form>
								<input class="form-control" minlength="10" placeholder="dd/mm/AAAA" onkeypress="mascaraData( this, event ); return SomenteNumero(event)" maxlength="10" ng-model="model.retorno"  id="ipt9"/>
							</form>
						</div>	
						
					</div>
				</div>
				<p id="cp">*Campos obrigatórios</p>
				
				<input id="salvar" type="submit" ng-value="{{updateMode?'Salvar alterações': 'Salvar'}}" ng-click="save()" />
				
			</div>
		</form>
		<p id="privacity">&copy; 2016 FENTEC, Inc. &middot; <a href="#">Privacidade</a> &middot; <a href="#">Termos</a></p>
	</div>
	
</div>
<script type="text/javascript">




$(document).ready(function () {
 $('#dv8').fadeOut('slow');
    $('#ipt7').change(function () {
        if (!this.checked) 
        //  ^
           $('#dv8').fadeOut('slow');
        else 
            $('#dv8').fadeIn('slow');
			
			
			
			  
    });
});


function mascaraData( campo, e )
{
	var kC = (document.all) ? event.keyCode : e.keyCode;
	var data = campo.value;
	
	if( kC!=8 && kC!=46 )
	{
		if( data.length==2 )
		{
			campo.value = data += '/';
		}
		else if( data.length==5 )
		{
			campo.value = data += '/';
		}
		else
			campo.value = data;
	}
}


/*function mask(data){ 
 if(data.value.length == 4)
     data.value = data.value + '-';
	
 if(data.value.length == 7)
     data.value = data.value + '-';
	
}*/


$("#demo4").maskMoney();

$(function() {
    $('#ipt5').maskMoney();
  })
  

            
 
            //recebera sómente letras max 8 digitos
 function SomenteLetra(e){
    var tecla=(window.event)?event.keyCode:e.which;  
	//if((tecla>=91 && tecla<=96   )) return false;
    if((tecla>=33 && tecla<=64 || tecla>=91 && tecla<=96 || tecla>=123 && tecla<=127 || tecla>=1 && tecla<=7 || tecla==12 && tecla<=18 )) return false;
	
    else{
    	if (tecla==8) return true;
	

    }
};           
 
</script>
</body>

</html>
