<html ng-app="fentec">
<head>
	<title>Portal Fentec</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/perfil.css"/>
	<script type="text/javascript" src="js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="js/libs/angular.min.js"></script>
	<script type="text/javascript" src="js/fentec.js"></script>
	<script type="text/javascript" src="js/nota.js"></script>
	<script type="text/javascript" src="js/avaliador.js"></script>
	<script type="text/javascript" src="js/projeto.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<link rel="stylesheet" href="js/libs/bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="js/libs/bootstrap/js/bootstrap.min.js"></script>	
<style>
	#projimg{
		margin-left:20px;
		width:180px;
	}
	#divinfo{
		margin-left:220px;
		margin-top:-188px;
	}
	#miolo{
		height:auto;
	}
	#atributos{
		margin-top:
	}
	#texto{
		width:280px;
		text-align:justify;
	}
</style>
</head>
<body>
	<header>
	
	</header>
	<a href="index.html"><img id="logo" src="assets/images/logoo.fw.png"></a>
		<div id="desconect">
			<a id="logout1" href="conta.html">
			<img id="logout" src="assets/images/logout.png">
			</a>
			<a href=""><img id="log2" src="assets/images/engr.fw.png"/></a>
		</div>
	

	<div id="planodefundo">
	<div id="lado-esquerdo">
		<div id="meuperfil">
			<a><img src="assets/images/contaicon.fw.png" style="width:27px; height:27px; position:absolute; margin-left:105px; margin-top:25px;"/></a>
			<a href="gerenciamentoavaliador.html" class="menuopcao" style="margin-left:93px; font-size:20px; font-family:'Segoe UI'; margin-top:60px;">Notas</a>
		</div>
		
		<div id="meuprojeto">
			<a><img src="assets/images/listaproj.fw.png" style="width:27px; height:27px; position:absolute; margin-left:105px; margin-top:25px;"/></a>
			<a href="contatoavaliador.html" class="menuopcao" style="margin-left:85px; font-size:20px; font-family:'Segoe UI';  margin-top:60px;">Contato</a>
		</div>
	</div>
		<div  ng-controller="ProjetoController" id="miolo">
			<div id="Projeto">
				<p style="margin-left:250px; font-size:22px; font-family:'Segoe UI';" >Projetos</p>
			</div>
			<ul>
			<li style="text-decoration:none" ng-repeat="projeto in arrProjeto">
				<div id="divlist">
				</br>
				<div id="atributos">
					<img ng-src="assets/uploads/{{projeto.arquivo}}" style="width:100px;height:100px; border-radius:200px;">
					<div id="mais" style="position: absolute; margin-left:2%; margin-top:-1%;">
						<h3 style="color:#4365B9;font-size:160%;">{{projeto.nome}}</h3>
						<div id="texto" style="margin-top:-1.5%;">
							<h4 style="color:rgb(47, 47, 51); font-size:12px;">{{projeto.problema}}</h4>
						</div>
					</div>
				</div>
					<div ng-controller="NotaController" id="butsaltdel">
						<h5><strong>Nota</strong></h5>
						<input id="nota" type="number" min="0" max="10" style="width:56px;" ng-model="model.nota" />
					</div>
					<hr id="hrlist">
				</div>
			</li>
		</ul>
			<div id="butaoadd">
			<a ng-click="save()" class="btn btn-success">Salvar</a>
			</div>
		</div>
</body>
</html>
