<!DOCTYPE html>
<html ng-app="fentec">
<head>
	<title>Portal Fentec</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="js/libs/bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="js/libs/angular.min.js"></script>
	<script type="text/javascript" src="js/libs/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/libs/velocity.min.js"></script>
	<script type="text/javascript" src="js/fentec.js"></script>
	<script type="text/javascript" src="js/index.js"></script>	
	<script type="text/javascript" src="js/projetofiltro.js"></script>
	<script type="text/javascript" src="js/projeto.js"></script>

	
	
	
	<link rel="stylesheet" href="css/objetivosprojetos.css">
    <link rel="stylesheet" href="css/normalize.css">
 	<link rel="stylesheet" href="css/style.css">

     	<script src="js/respond.js"></script>
 	<style type="text/css">
    	html,body{
    		background-image: url('assets/images/Skeletal-Weave-White-Tileable-pattern-for-website-background.jpg');
    	}
    	#foto-patrocinador{
	width:240px; 
	height:240px; 
	border:1px solid grey; 
	border-radius:2px;
	margin:5px;
	display:inline;
	box-shadow:0px 1px 1px 0px #2A2A2A;

	
	}
	#patro{
	display:inline-block;
	margin-left:20px;
	}
	hr{
		width:84.5%;
		margin-left:85px;
	}
	#nome{
		margin-left:100px;
		color:black
	}
	
    </style>
</head>
<body>
	<header id="menu">
	
		<img id="logo" src="assets/images/logoo.fw.png"/>
		<nav ng-controller="FiltroController">
		<div id="afastamento">
		<div  id="imagesheader">
			<img id="homeicon" src="assets/images/homeicon.fw.png">
			<img id="localizacaoicon" src="assets/images/localizacaoicon.fw.png">
			<img id="projetoicon" src="assets/images/projetoicon.fw.png">
			<img id="midiaicon" src="assets/images/midiaicon.fw.png">
			<img id="patrocinadoresicon" src="assets/images/patrocinadoresicon.fw.png">
			
		</div>
			<ul>
				<a href="index.html#home" class="option" id="buttonhome">Home</span></a>
				<a href="index.html#localizacao" class="option" id="buttonlocalizacao">Localização</span></a>
				<a href="index.html#projeto" class="option" id="buttonprojetos">Projetos</span></a>
				<a href="index.html#midia" class="option" id="buttonmidia">Portfólio</span></a>
				<a href="index.html#patrocinadores" class="option" id="buttonpatrocinadores">Patrocinadores</span></a>
				
			</ul>
			</div>
		</nav>
		
	</header>
	
	<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
	<div class="nav" id="pagination">
      <ul>
		  <li class="nav--btn nav--btn-1" data-page="1" href="#dropdown1"  role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1"></li> 
          <li class="nav--btn nav--btn-2" data-page="2" href="#dropdown2" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="dropdown2"></li>
          <li class="nav--btn nav--btn-3" data-page="3" href="#dropdown3" role="tab" id="dropdown3-tab" data-toggle="tab" aria-controls="dropdown3"></li>
          <li class="nav--btn nav--btn-4" data-page="4" href="#dropdown4" role="tab" id="dropdown4-tab" data-toggle="tab" aria-controls="dropdown4"></li>
          <li class="nav--btn nav--btn-5" data-page="5" href="#dropdown5" role="tab" id="dropdown5-tab" data-toggle="tab" aria-controls="dropdown5"></li>
		  <li class="nav--btn nav--btn-6" data-page="6" href="#dropdown6" role="tab" id="dropdown6-tab" data-toggle="tab" aria-controls="dropdown6"></li>
          <li class="nav--btn nav--btn-7" data-page="7" href="#dropdown7" role="tab" id="dropdown7-tab" data-toggle="tab" aria-controls="dropdown7"></li>
	      <li class="nav--btn nav--btn-8" data-page="8" href="#dropdown8" role="tab" id="dropdown8-tab" data-toggle="tab" aria-controls="dropdown8"></li>
      </ul>
    </div>
	
	<div id="myTabContent" class="tab-content"> 
		<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab"> 
			<p>
				<img id="metas" src="assets/objmilenio/fome.fw.png"/>
				 <div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>

								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
							<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:{metaobj:o}">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
		</p> 
		</div> 
		<div role="tabpanel" class="tab-pane fade" id="dropdown1" aria-labelledby="dropdown1-tab"> 
			<p>
				<img id="metas" src="assets/objmilenio/fome.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
						<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:{metaobj:o}">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role="tabpanel" class="tab-pane fade" id="dropdown2" aria-labelledby="dropdown2-tab"> 
			<p><img id="metas" src="assets/objmilenio/educacao.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				   <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
								<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:{metaobj:o}">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role="tabpanel" class="tab-pane fade" id="dropdown3" aria-labelledby="dropdown3-tab"> 
			<p>
				<img id="metas" src="assets/objmilenio/igualdade.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'   ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				   <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
								<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:{metaobj:o}">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role="tabpanel" class="tab-pane fade" id="dropdown4" aria-labelledby="dropdown4-tab"> 
			<p>
				<img id="metas" src="assets/objmilenio/mortalidade.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				   <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
								<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:{metaobj:o}">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role="tabpanel" class="tab-pane fade" id="dropdown5" aria-labelledby="dropdown5-tab"> 
			<p>
				<img id="metas" src="assets/objmilenio/gestantes.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				   <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
								<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:{metaobj:o}">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role="tabpanel" class="tab-pane fade" id="dropdown6" aria-labelledby="dropdown6-tab"> 
			<p>
				<img id="metas" src="assets/objmilenio/doenca.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa " placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				   <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
								<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:{metaobj:o}">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role="tabpanel" class="tab-pane fade" id="dropdown7" aria-labelledby="dropdown7-tab"> 
			<p>
				<img id="metas" src="assets/objmilenio/qualidade.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				   <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
								<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:{metaobj:o}">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role="tabpanel" class="tab-pane fade" id="dropdown8" aria-labelledby="dropdown8-tab"> 
			<p>
				<img id="metas" src="assets/objmilenio/desenvolvimento.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
								<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:{metaobj:o}">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div>  
	</div> 
</div>	
</html>