<html ng-app="fentec">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=">
	<link rel="stylesheet" href="js/jquery/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="js/jquery/jquery.mobile.datepicker.css"/>
	
	<script type="text/javascript" src="js/libs/jquery-1.12.3.js"></script>
	<script type="text/javascript" src="js/libs/angular.min.js"></script>
	<script type="text/javascript" src="js/fentec.js"></script>
	<script type="text/javascript" src="js/listaorientador.js"></script>
	<script type="text/javascript" src="js/orientador.js"></script>
	
	

	<script src="js/jquery/jquery.js"></script>
	<script src="js/jquery/index.js"></script>
	<script src="js/jquery/jquery.mobile-1.4.5.min.js"></script>
	<script src="js/jquery/jquery.ui.datepicker.js"></script>
	<script src="js/jquery/jquery.mobile.datepicker.js"></script>
	

</head>
	<style>
		
	</style>
<body>
	<div  ng-controller="OrientadorController">
		<form>
		<div id="miolo">
		<div data-role="page" data-quicklinks="true" class="jqm-demos">
	<div role="main" class="ui-content jqm-content">

	
		<div>
			<form class="ui-filterable">
				<input id="filterBasic-input" data-type="search">
			</form>
				</br>
			
				<ul data-role="listview" data-filter="true" data-input="#filterBasic-input">
			 <li style="text-decoration:none" ng-repeat="orientador in arrOrientadores">
				<div>
					<a ng-click="editar(Orientador.id)" ><h4>{{orientador.nome}}</h4></a>
				</div>
			</li>
		
		</div>
		</br>
		
		
	</div>
		</form>
		<a href="cadastroorientmob.html"><button>ADICIONAR</button></a>
	
	</div>

</body>
</html>