
<html ng-app="fentec">
<head>
	<meta charset="utf-8">
	<title>Portal Fentec</title>
	<link rel="icon" type="image/png"  href="assets/images/logologin2.png" />
	<link rel="stylesheet" href="css/visitante.css"/>
	<link rel="stylesheet" type="text/css" href="js/libs/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
	<script type="text/javascript" src="js/libs/jquery-1.12.3.js"></script>
	<script type="text/javascript" src="js/libs/angular.min.js"></script>
	<script type="text/javascript" src="js/fentec.js"></script>
	<script type="text/javascript" src="js/visitante.js"></script>
	<script src="js/hover.js"></script>
	<script type="text/javascript" src="js/visitantelista.js"></script>
	<script type="text/javascript" src="js/logorient.js"></script>

	<script src="js/jquery/jquery.js"></script>
	<script src="js/jquery/index.js"></script>
</head>
		
	
<body>
	<header></header>
	<div id="tudooo"  ng-controller="NavController" data-role="page" class="jqm-demos" data-quicklinks="true">
	
	<a href="index.html"><img id="logo" src="assets/images/logoo.fw.png"/></a>
		
	
	<div id="Sairt" ng-controller="LogarController" >
		
	<a id="ap" ng-click="sair()"><img id="log" src="assets/images/logout.png"/></a>
	<a href=""><img id="log2" src="assets/images/engr.fw.png"/></a>
	
	</div>
	<div id="parte-esquerda">
	<div id="white">
	<h2 id="use" >Coordenação</h2>
			<img id="mat1" src="assets/images/tools2.png"/>
			<a id="ap" href="orientlistmaterial.html" style="color:black;"><p id="p6">Materiais</p></a>
	</div>
	<div id="white1">
			<img id="mat1" src="assets/images/grades2.png"/>
			<a id="ap" href="listaavaliador.html" style="color:black;"><p id="p7">Avaliadores</p></a>
	</div>
	<div id="white2">
			<img id="mat2" src="assets/images/listaproj.fw.png"/>
			<a id="ap" href="listprojetos.html" style="color:black;"><p id="p8">Projetos</p></a>
	</div>
	<div id="white3">
			<img id="mat3" src="assets/images/person2.png"/>
			<a id="ap" href="listavisitantes.html" style="color:black;"><p id="p9">Visitantes</p></a>
	</div>
	<div id="white4">
			<a href="listapatrocinadornew.html">	<img id="mat3" src="assets/images/patrocinadoricon.png" /></a>
				<a id="ap" href="listapatrocinadornew.html" style="color:black;"><p style="color:white" id="p10">Patrocinador</p></a>
		</div>
	</div>
		<div id="tudo" role="main" class="ui-content jqm-content">
			
			
			
				
					<input id="idd" data-type="search" ng-model="pesquisa" class="form-control"/>
				<img style="width:20px; position:absolute; margin-left:930px; margin-top:170px;" src="assets/images/search.png"/>


				
			
			<div id="oii">
			<ul id="ul-tudo">
				<li id="oi1" style="text-decoration:none;" ng-repeat="visitante in arr | filter:pesquisa" >
						<div id="miolo-inlne">
							<div id="goods-direito" class="goods">
								<span id="info" class="info">
					            	<div id="index">
									
					            	
										<img src="assets/images/iconvisit.jpg"  alt="Picture" id="pic">
					            	</div>
									<div id="vaiaia">
										<a href="mailto:{{visitante.email}}"><h3 id="name2">{{visitante.email}}</h3></a>
										<h4 id="name">Idade: {{visitante.idade}}</h4>
										<h4 id="name">Instituição: {{visitante.instituicao}}</h4>
										</div>
								</span>
							</div>
							
						</div>
						
						<hr>
					

				
				</li>
				
			</ul>
			
			</div>
			
			
			
		</div>	
		
		
		

		</div>
	
</body>

</html>
	
