<!DOCTYPE html>
<html ng-app="fentec">
<head>
	 <title>Fentec | Feira Norte de Tecnologia e Ciência</title>
	
	<link rel="icon" type="image/png"  href="assets/images/logologin2.png" />
	<meta charset="utf-8">
	<link rel="stylesheet" href="js/libs/bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="js/libs/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/libs/angular.min.js"></script>
	<script type="text/javascript" src="js/libs/velocity.min.js"></script>
	<link rel="stylesheet" href="css/turmas.css">
    <link rel="stylesheet" href="css/normalize.css">
 	<link rel="stylesheet" href="css/style.css">
 	<script type="text/javascript" src="js/fentec.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/projetofiltro.js"></script>
	<script type="text/javascript" src="js/projeto.js"></script>
	<script type="text/javascript" src="js/logorient.js"></script>
	

     	<script src="js/respond.js"></script>
 	<style type="text/css">
    	html,body{
    		background-image: url('assets/images/Skeletal-Weave-White-Tileable-pattern-for-website-background.jpg');
    	}
    		#foto-patrocinador{
	width:240px; 
	height:240px; 
	border:1px solid grey; 
	border-radius:2px;
	margin:5px;
	display:inline;
	box-shadow:0px 1px 1px 0px #2A2A2A;

	}
	#patro{
	display:inline-block;
		margin-left:20px;
	}
	hr{
		width:84.5%;
		margin-left:85px;
	}
	#nome{
		margin-left:100px;
		color:black
	}
	
    </style>
</head>
<body>
	<header id="menu">
		<img id="logo" src="assets/images/logoo.fw.png"/>
		<nav ng-controller="FiltroController">
		<div id="afastamento">
		<div  id="imagesheader">
			<img id="homeicon" src="assets/images/homeicon.fw.png">
			<img id="localizacaoicon" src="assets/images/localizacaoicon.fw.png">
			<img id="projetoicon" src="assets/images/projetoicon.fw.png">
			<img id="midiaicon" src="assets/images/midiaicon.fw.png">
			<img id="patrocinadoresicon" src="assets/images/patrocinadoresicon.fw.png">
			
		</div>
			<ul>
				<a href="index.html#home" class="option" id="buttonhome">Home</span></a>
				<a href="index.html#localizacao" class="option" id="buttonlocalizacao">Localização</span></a>
				<a href="index.html#projeto" class="option" id="buttonprojetos">Projetos</span></a>
				<a href="index.html#midia" class="option" id="buttonmidia">Portfólio</span></a>
				<a href="index.html#patrocinadores" class="option" id="buttonpatrocinadores">Patrocinadores</span></a>
				
			</ul>
			</div>
		</nav>
	</header>
	
	<div class="bs-example bs-example-tabs" data-example-id=togglable-tabs>
	<div class="nav" id="pagination" ng-controller="ProjetoController">
      <ul>
        <li class="nav--btn nav--btn-25 active" style="background-color:gray" ng-click="turmaam()" data-page="25" href=#dropdown25 role=tab id=dropdown25-tab data-toggle=tab aria-controls=dropdown25></li>
        <li class="nav--btn nav--btn-26"style="background-color:gray" ng-click="turmaai()" data-page="26" href=#dropdown26 role=tab id=dropdown26-tab data-toggle=tab aria-controls=dropdown26></li>
        <li class="nav--btn nav--btn-27"  style="background-color:gray"ng-click="turmaat()"data-page="27" href=#dropdown27 role=tab id=dropdown27-tab data-toggle=tab aria-controls=dropdown27></li>
        <li class="nav--btn nav--btn-28" style="background-color:gray" ng-click="turmaae()" data-page="28" href=#dropdown28 role=tab id=dropdown28-tab data-toggle=tab aria-controls=dropdown28></li>
      </ul>
    </div>
	
	<div id=myTabContent class=tab-content> 
		<div role=tabpanel class="tab-pane fade in active" id=home aria-labelledby=home-tab> 
			<p>
				<img id="metas" src="assets/turmas/mecatronica.fw.png"/>
				 <div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control' ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				 <ul class="dropdown-menu  "  ng-controller="ProjetoController">
				    <li><a href="objetivosprojetos.html?objetivo=1" >Objetivos do milênio</a></li>
				    <li><a href="projetos.html?meta=1">Metas globais</a></li>
				    <li><a href="listaturmas.html?turma=1">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
						
							<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:pesquisa  | filter:{turma:t}"  >
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/projeto/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
		</p> 
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown25 aria-labelledby=dropdown25-tab> 
			<p>
				<img id="metas" src="assets/turmas/mecatronica.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control' ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu  "  ng-controller="ProjetoController">
				    <li><a href="objetivosprojetos.html?objetivo=1" >Objetivos do milênio</a></li>
				    <li><a href="projetos.html?meta=1">Metas globais</a></li>
				    <li><a href="listaturmas.html?turma=1">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
							<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro"  ng-repeat="projeto in arrProjeto | filter:pesquisa | filter:{turma:t}" >
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/projeto/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href="perfilprojeto.html?id={{projeto.id}}"><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</section>
			</p>
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown26 aria-labelledby=dropdown26-tab> 
			<p><img id="metas" src="assets/turmas/informatica.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control' ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu  "  ng-controller="ProjetoController">
				    <li><a href="objetivosprojetos.html?objetivo=1" >Objetivos do milênio</a></li>
				    <li><a href="projetos.html?meta=1">Metas globais</a></li>
				    <li><a href="listaturmas.html?turma=1">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
					<div class="rowg">
							<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro"  ng-repeat="projeto in arrProjeto | filter:pesquisa | filter:{turma:t}" >
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/projeto/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</section>
			</p>
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown27 aria-labelledby=dropdown27-tab> 
			<p>
				<img id="metas" src="assets/turmas/telecomunicacoes.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control' ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				   <ul class="dropdown-menu  "  ng-controller="ProjetoController">
				    <li><a href="objetivosprojetos.html?objetivo=1" >Objetivos do milênio</a></li>
				    <li><a href="projetos.html?meta=1">Metas globais</a></li>
				    <li><a href="listaturmas.html?turma=1">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
					<div class="rowg">
							<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro"  ng-repeat="projeto in arrProjeto | filter:pesquisa | filter:{turma:t}" >
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/projeto/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href="perfilprojeto.html?id={{projeto.id}}"><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</section>
			</p>
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown28 aria-labelledby=dropdown28-tab> 
			<p>
				<img id="metas" src="assets/turmas/eletronica.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control' ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu  "  ng-controller="ProjetoController">
				    <li><a href="objetivosprojetos.html?objetivo=1" >Objetivos do milênio</a></li>
				    <li><a href="projetos.html?meta=1">Metas globais</a></li>
				    <li><a href="listaturmas.html?turma=1">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
							<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:pesquisa | filter:{turma:t}" >
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/projeto/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</section>
			</p>
		</div>   
	</div> 
</div>	
</html>