<!DOCTYPE html>
<html ng-app="fentec">
<head>
	<title>Portal Fentec</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="js/libs/bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="js/libs/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="js/libs/angular.min.js"></script>
	<script type="text/javascript" src="js/libs/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/libs/velocity.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<link rel="stylesheet" href="css/projetos.css">
    <link rel="stylesheet" href="css/normalize.css">
 	<link rel="stylesheet" href="css/style.css">
 	<script type="text/javascript" src="js/fentec.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/projetofiltro.js"></script>
		<script type="text/javascript" src="js/projeto.js"></script>
	

     	<script src="js/respond.js"></script>
 	<style type="text/css">
    	html,body{
    		background-image: url('assets/images/Skeletal-Weave-White-Tileable-pattern-for-website-background.jpg');
    	}
    		#foto-patrocinador{
	width:240px; 
	height:240px; 
	border:1px solid grey; 
	border-radius:2px;
	margin:5px;
	display:inline;
	box-shadow:0px 1px 1px 0px #2A2A2A;

	}
	#patro{
	display:inline-block;
		margin-left:20px;
	}
	hr{
		width:84.5%;
		margin-left:85px;
	}
	#nome{
		margin-left:100px;
		color:black
	}
	
    </style>
</head>
<body>
	<header id="menu">
		<img id="logo" src="assets/images/logoo.fw.png"/>
		<nav ng-controller="FiltroController">
		<div  id="imagesheader">
			<img id="homeicon" src="assets/images/homeicon.fw.png">
			<img id="localizacaoicon" src="assets/images/localizacaoicon.fw.png">
			<img id="projetoicon" src="assets/images/projetoicon.fw.png">
			<img id="midiaicon" src="assets/images/midiaicon.fw.png">
			<img id="patrocinadoresicon" src="assets/images/patrocinadoresicon.fw.png">
			<img id="contaicon" src="assets/images/contaicon.fw.png">
		</div>
			<ul>
				<a href="index.html#home" class="option" id="buttonhome">Home</span></a>
				<a href="index.html#localizacao" class="option" id="buttonlocalizacao">Localização</span></a>
				<a href="index.html#projeto" class="option" id="buttonprojetos">Projetos</span></a>
				<a href="index.html#midia" class="option" id="buttonmidia">Mídia</span></a>
				<a href="index.html#patrocinadores" class="option" id="buttonpatrocinadores">Patrocinadores</span></a>
				<a href="conta.html" class="option" id="buttonmyacount">Inscreva-se</span></a>
			</ul>
		</nav>
	</header>
	
	<div class="bs-example bs-example-tabs" data-example-id=togglable-tabs>
	<div class="nav" id="pagination">
      <ul>
        <li class="nav--btn nav--btn-9 active" data-page="9" href=#dropdown9 role=tab id=dropdown9-tab data-toggle=tab aria-controls=dropdown9></li>
        <li class="nav--btn nav--btn-10" data-page="10" href=#dropdown10 role=tab id=dropdown10-tab data-toggle=tab aria-controls=dropdown10></li>
        <li class="nav--btn nav--btn-11" data-page="11" href=#dropdown11 role=tab id=dropdown11-tab data-toggle=tab aria-controls=dropdown11></li>
        <li class="nav--btn nav--btn-12" data-page="12" href=#dropdown12 role=tab id=dropdown12-tab data-toggle=tab aria-controls=dropdown12></li>
        <li class="nav--btn nav--btn-13" data-page="13" href=#dropdown13 role=tab id=dropdown13-tab data-toggle=tab aria-controls=dropdown13></li>
        <li class="nav--btn nav--btn-14" data-page="14" href=#dropdown14 role=tab id=dropdown14-tab data-toggle=tab aria-controls=dropdown14></li>
        <li class="nav--btn nav--btn-15" data-page="15" href=#dropdown15 role=tab id=dropdown15-tab data-toggle=tab aria-controls=dropdown15></li>
        <li class="nav--btn nav--btn-16" data-page="16" href=#dropdown16 role=tab id=dropdown16-tab data-toggle=tab aria-controls=dropdown16></li>
        <li class="nav--btn nav--btn-17" data-page="17" href=#dropdown17 role=tab id=dropdown17-tab data-toggle=tab aria-controls=dropdown17></li>
        <li class="nav--btn nav--btn-18" data-page="18" href=#dropdown18 role=tab id=dropdown18-tab data-toggle=tab aria-controls=dropdown18></li>
        <li class="nav--btn nav--btn-19" data-page="19" href=#dropdown19 role=tab id=dropdown19-tab data-toggle=tab aria-controls=dropdown19></li>
        <li class="nav--btn nav--btn-20" data-page="20" href=#dropdown20 role=tab id=dropdown20-tab data-toggle=tab aria-controls=dropdown20></li>
        <li class="nav--btn nav--btn-21" data-page="21" href=#dropdown21 role=tab id=dropdown21-tab data-toggle=tab aria-controls=dropdown21></li>
        <li class="nav--btn nav--btn-22" data-page="22" href=#dropdown22 role=tab id=dropdown22-tab data-toggle=tab aria-controls=dropdown22></li>
        <li class="nav--btn nav--btn-23" data-page="23" href=#dropdown23 role=tab id=dropdown23-tab data-toggle=tab aria-controls=dropdown23></li>
        <li class="nav--btn nav--btn-24" data-page="24" href=#dropdown24 role=tab id=dropdown24-tab data-toggle=tab aria-controls=dropdown24></li>
      </ul>
    </div>
	
	<div id=myTabContent class=tab-content> 
		<div role=tabpanel class="tab-pane fade in active" id=home aria-labelledby=home-tab> 
			<p>
				<img id="metas" src="assets/metasglobais/pobreza.png"/>
				 <div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa"  placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
						<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:{metaobj:o}">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
		</p> 
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown9 aria-labelledby=dropdown1-tab> 
			<p>
				<img id="metas" src="assets/metasglobais/pobreza.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
							<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:pesquisa">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown10 aria-labelledby=dropdown2-tab> 
			<p><img id="metas" src="assets/metasglobais/fome.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				   <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
						<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:pesquisa">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown11 aria-labelledby=dropdown3-tab> 
			<p>
				<img id="metas" src="assets/metasglobais/saude.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				   <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
							<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:pesquisa">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown12 aria-labelledby=dropdown4-tab> 
			<p>
				<img id="metas" src="assets/metasglobais/educacao.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				   <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
						<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:pesquisa">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown13 aria-labelledby=dropdown5-tab> 
			<p>
				<img id="metas" src="assets/metasglobais/genero.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				   <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
							<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:pesquisa">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown14 aria-labelledby=dropdown6-tab> 
			<p>
				<img id="metas" src="assets/metasglobais/agua.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				   <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
							<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:pesquisa">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown15 aria-labelledby=dropdown7-tab> 
			<p>
				<img id="metas" src="assets/metasglobais/energia.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				   <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
							<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:pesquisa">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown16 aria-labelledby=dropdown8-tab> 
			<p>
				<img id="metas" src="assets/metasglobais/emprego.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
							<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:pesquisa">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown17 aria-labelledby=dropdown9-tab> 
			<p>
				<img id="metas" src="assets/metasglobais/infraestrutura.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				   <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
							<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:pesquisa">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown18 aria-labelledby=dropdown10-tab> 
			<p>
				<img id="metas" src="assets/metasglobais/desigualdade.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
							<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:pesquisa">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown19 aria-labelledby=dropdown11-tab> 
			<p>
				<img id="metas" src="assets/metasglobais/cidades.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
							<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:pesquisa">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown20 aria-labelledby=dropdown12-tab> 
			<p>
				<img id="metas" src="assets/metasglobais/consumo.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
							<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:pesquisa">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown21 aria-labelledby=dropdown13-tab> 
			<p>
				<img id="metas" src="assets/metasglobais/clima.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				   <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
						<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:pesquisa">
											<a href=""><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>						</div> 
						</section>
			</p>
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown22 aria-labelledby=dropdown14-tab> 
			<p>
				<img id="metas" src="assets/metasglobais/vidaagua.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				   <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
							<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:pesquisa">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown23 aria-labelledby=dropdown15-tab> 
			<p>
				<img id="metas" src="assets/metasglobais/vidaterra.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				   <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
							<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:pesquisa">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
		<div role=tabpanel class="tab-pane fade" id=dropdown24 aria-labelledby=dropdown16-tab> 
			<p>
				<img id="metas" src="assets/metasglobais/PAZ.fw.png"/>
				<div class='containerbar'>
					 <div class='row'>
						<div class='col-md-6'>
							<div class='search-box'>
								<form class='search-form'>
									<input class='form-control'  ng-model="pesquisa" placeholder='Busque projetos aqui...' type='text'>
										<button class='btn btn-link search-btn'>
											<i class='glyphicon glyphicon-search'></i>
										</button>
								</form>
							</div>    
						</div>					    
					 </div>						 
				</div>	
				<div class="btn-group">
				  <button type="button" id="butao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Filtrar por... <span class="caret"></span>
				  </button>
				   <ul class="dropdown-menu">
				    <li><a href="objetivosprojetos.html">Objetivos do milênio</a></li>
				    <li><a href="projetos.html">Metas globais</a></li>
				    <li><a href="listaturmas.html">Turmas</a></li>
						<li><a href="listatprojetos.html">Todos</a></li>
				  </ul>
				</div>	
				<hr>					

				<div id="top"></div>
					<section class="gallery">
						<div class="rowg">
							<div class="container" ng-controller="ProjetoController">
						 <div >
								<div id="patrocinador" class="well">
									
									<div id="patro" ng-repeat="projeto in arrProjeto | filter:pesquisa">
											<a href="perfilprojeto.html?id={{projeto.id}}"><img id="foto-patrocinador" ng-src="assets/uploads/{{projeto.arquivo}}" alt="Image" class="img-responsive" ></a>
										<a  href=""><p id="nome">{{projeto.nome}}</p></a>	
						           	</div>
									
								</div>
							</div>
						</div>
						</div> 
						</section>
			</p>
		</div> 
	</div> 
</div>	
</html>